@model List<Post>

@using APPMVC.NET.Components

@{
    List<Category>? categories = ViewBag.categories as List<Category>;
    Category? category = ViewBag.category as Category;
    ViewData["Title"] = (category != null) ? category.Title :
    "Bài viết trong tất cả các danh mục";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/">Home</a></li>
        @if (category != null)
        {
            var lists = category.ListParents();
            foreach (var list in lists)
            {
                <li class="breadcrumb-item">
                    <a asp-action="Index" asp-route-categoryslug="@list.Slug">@list.Title</a>
                </li>
            }
        }
    </ol>
</nav>

<h1 class="category-title">@ViewData["Title"]</h1>
@if (category != null)
{
    <p class="post-home__title">@category?.Description</p>
}
else
{
    <p class="post-home__title">Bài viết trong tất cả các danh mục...</p>
}

<hr>

@foreach (var post in Model)
{
    var sourceImage = "/contents/noimage.jpg";
    if (post.Photos.Any())
    {
        sourceImage = $"/contents/Posts/{post.Photos.FirstOrDefault()?.FileName}";
    }
    <div class="media border-bottom mb-3 pb-3 d-flex">
        <img src="@sourceImage" class="card-img-top" alt="noimage">
        <div class="media-body">
            <h5 class="mt-0">
                <a class="post-title" asp-controller="ViewPost" asp-action="Details" asp-route-postslug="@post.Slug">
                    @post.Title
                </a>
            </h5>
            <div class="media-content">
                @post.Description
                <div>
                    Chủ đề:
                    <strong>
                        @post.PostCategories?.FirstOrDefault()?.Category.Title
                    </strong>
                </div>
                <div class="author-row">
                    Tác giả: <strong>@post.Author?.UserName</strong> |
                    Ngày cập nhật: <i>@post.DateUpdated.ToShortDateString()</i>
                </div>
            </div>
        </div>
    </div>
}

@section Sidebar
{
    @await Component.InvokeAsync("APPMVC.NET.Components.CategorySidebar",
        new CategorySidebar.CategorySidebarData()
{
    Categories = categories,
    Level = 0,
    CategorySlug = ViewBag.CategorySlug
})
}

<partial name="_PagingXTL" model="@ViewBag.pagingModel" />